<% @crime_users.each do |user| %>
  <%if user.id == message.user_id %>
    <p class="text-white"><%= user.name %>: <%= message.content %> <%= message.created_at.strftime("%Y-%m-%d")%> <%=message.created_at.strftime("%H:%M")%></p>
  <% end %>
<% end %>