<p>
  <strong>Nombre:</strong>
  <%= victim.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= victim.rut %>
</p>

<p>
  <strong>Edad:</strong>
  <%= victim.age %>
</p>

<%= link_to 'Editar', edit_victim_path(victim) ,class: ["btn","btn-primary"]%>
