<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
<p id="notice"><%= notice %></p>
<div class="card">
<h1>Union Unidad Policial Usuario</h1>

<%= render 'form', ucc: @ucc %>
</div>
</div>
  <div class="col-3"></div>

</div>
