<head>
  <h2 style="text-align: center; padding: 3%">Registrar carabinero</h2>
</head>
<body>
<%= render 'form', carabinero: @carabinero %>
<div class="row">
  <div class="column mx-auto">
    <%= link_to 'Back', :back %>
  </div>
</div>
</body>