<div class="modal fade" id="pronunciarseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">Estado </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for thief do |f| %>
        <div class="modal-body">
            <%= f.select :estado, ['Sin Pronunciar', 'En Investigacion', 'Culpable', 'Sobreseido'] %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', :class =>"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>