<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">
    <h1>Crear nuevo Fiscal</h1>
    <%= render 'form', fiscal: @fiscal %>

    <%= link_to 'Back', fiscals_path %>
  </div>
  <div class="col-3">
  </div>
</div>