<head>
  <h2 style="text-align: center; padding: 3%">Registrar Fiscalia</h2>
</head>
<body>
<%= render 'form', fiscal: @fiscal %>
<div class="row">
  <div class="column mx-auto">
  </div>
</div>
</body>